server:
  port: 8080

spring:
  application:
    name: PRODUCT-SERVICE

  config:
    import: configserver:http://localhost:9296

  datasource:
    url: jdbc:mysql://localhost:3306/productdb
    username: root
    password: Scientist12!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  pattern:
    level: "%5p [traceId=%X{traceId} spanId=%X{spanId}] %c : %m%n"

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  health:
    db:
      enabled: false
