server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/productdb
    username: root
    password: Scientist12!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  application:
    name: PRODUCT-SERVICE
  config:
    import: configserver:http://localhost:9296
logging:
  pattern:
    level: "%5p [traceId=%X{traceId} spanId=%X{spanId}] %c : %m%n"


#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#      defaultZone: http://localhost:8761/eureka
